<div class="jumbotron" >
    <h1 class="display-4" >Bienvenido</h1>
    <p class="lead" >Esta es una app de prueba con Typescript y Express con NodeJs</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolores blanditiis ducimus odit deleniti magni ut sequi dolor! Dolorum recusandae ipsam omnis repellat voluptatibus cumque qui dolorem voluptates dicta at, quisquam quaerat. Optio perferendis pariatur autem ipsa repudiandae sint, eius adipisci labore hic nisi reprehenderit molestias maxime tempore consectetur perspiciatis repellendus culpa doloribus, explicabo natus sed. Hic saepe tempora et nostrum deleniti quis dolorem reiciendis quos voluptatibus tempore, officia sequi veritatis soluta cumque tenetur dolores iusto sint architecto id consequatur!</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Ver mas ...</a>
</div>
